[run]
branch = True
source =
    packages/valory
omit =
    */tests/*
    */__pycache__/*
    */*_pb2.py
    */*_pb2_grpc.py
    packages/valory/skills/liquidity_trader_abci/__init__.py
    packages/valory/skills/optimus_abci/__init__.py

[report]
fail_under = 100
show_missing = True
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    if TYPE_CHECKING:
    @abstractmethod
    pass

[html]
directory = htmlcov
