.mypy_cache
.DS_Store
.pytest_cache
coverage.xml
.tox
.coverage
htmlcov
*.egg-info
packages/open_aea
optimism_agent
optimism_service
Pipfile.lock
    
packages/valory/agents/*
packages/valory/connections/*
packages/valory/contracts/gnosis_safe
packages/valory/contracts/gnosis_safe_proxy_factory
packages/valory/contracts/multisend
packages/valory/contracts/service_registry
packages/valory/contracts/erc20
packages/valory/services/*
packages/valory/protocols/*
packages/valory/skills/*

!packages/valory/agents/optimism_agent
!packages/valory/services/optimism_service
!packages/valory/skills/liquidity_trader_abci
!packages/valory/skills/superagent_abci

leak_report
/Pipfile.lock
keys.json
ethereum_private_key.txt
__pycache__/
.env
