.mypy_cache
.DS_Store
.pytest_cache
coverage.xml
.tox
.coverage
htmlcov
*.egg-info
packages/open_aea
optimus
assets.json
current_pool.json
Pipfile.lock
    
packages/valory/agents/*
packages/valory/connections/*
packages/valory/contracts/gnosis_safe
packages/valory/contracts/gnosis_safe_proxy_factory
packages/valory/contracts/multisend
packages/valory/contracts/service_registry
packages/valory/services/*
packages/valory/protocols/*

!packages/valory/agents/optimus
!packages/valory/services/optimus

leak_report
/Pipfile.lock
keys.json
ethereum_private_key.txt
__pycache__/
.env

.nix-venv
.certs
multisig_address
multisig_vault
*/keys.json
*private_key.txt*
packages/fetchai/
packages/open_aea/

packages/valory/skills/abstract_abci/
packages/valory/skills/abstract_round_abci/
packages/valory/skills/registration_abci/
packages/valory/skills/reset_pause_abci/
packages/valory/skills/transaction_settlement_abci/
packages/valory/skills/termination_abci/

packages/valory/protocols/abci
packages/valory/protocols/acn
packages/valory/protocols/contract_api
packages/valory/protocols/http
packages/valory/protocols/ipfs
packages/valory/protocols/ledger_api
packages/valory/protocols/tendermint

.idea
**/__pycache__/
*.DS_Store

.mypy_cache
/.tox/

keys.json
leak_report

agent/
solana_trader_service/

./solana_trader/

packages/valory/skills/transaction_settlement_abci/

solana_trader/
!/packages/valory/agents/solana_trader/
!/packages/valory/services/solana_trader/

node_modules/
.env

packages/open_aea/protocols/signing
packages/eightballer/protocols/order_book
packages/eightballer/protocols/ohlcv
packages/eightballer/protocols/balances
packages/eightballer/protocols/positions
packages/eightballer/protocols/spot_asset
packages/eightballer/protocols/orders
packages/eightballer/protocols/tickers
packages/eightballer/protocols/default
packages/eightballer/protocols/markets
packages/eightballer/contracts/erc_20
packages/eightballer/contracts/spl_token
packages/eightballer/connections/dcxt
