.mypy_cache
.DS_Store
.pytest_cache
coverage.xml
.tox
.coverage
htmlcov
*.egg-info
packages/open_aea
optimus
assets.json
current_pool.json
gas_costs.json
Pipfile.lock
    
packages/valory/agents/*
packages/valory/connections/*
packages/valory/contracts/gnosis_safe
packages/valory/contracts/gnosis_safe_proxy_factory
packages/valory/contracts/multisend
packages/valory/contracts/service_registry
packages/valory/services/*
packages/valory/protocols/*

!packages/valory/agents/optimus
!packages/valory/services/optimus
!packages/valory/services/optimus_pearl
!packages/valory/skills/liquidity_trader_abci
!packages/valory/skills/optimus_abci

leak_report
/Pipfile.lock
keys.json
ethereum_private_key.txt
__pycache__/
.env

.nix-venv
.certs
multisig_address
multisig_vault
*/keys.json
*private_key.txt*
packages/fetchai/
packages/open_aea/

packages/valory/skills/abstract_abci/
packages/valory/skills/abstract_round_abci/
packages/valory/skills/registration_abci/
packages/valory/skills/reset_pause_abci/
packages/valory/skills/transaction_settlement_abci/
packages/valory/skills/termination_abci/
packages/valory/skills/ipfs_package_downloader/
packages/valory/skills/market_data_fetcher_abci/
packages/valory/skills/portfolio_tracker_abci/
packages/valory/skills/strategy_evaluator_abci/
packages/valory/skills/trader_decision_maker_abci
packages/valory/customs/trend_following_strategy

packages/valory/protocols/*

.idea
**/__pycache__/
*.DS_Store

.mypy_cache
/.tox/

keys.json
leak_report

agent/
solana_trader_service/

./solana_trader/

packages/valory/skills/transaction_settlement_abci/

solana_trader/
!/packages/valory/agents/solana_trader/
!/packages/valory/services/solana_trader/

node_modules/
.env

packages/open_aea/protocols/signing
packages/eightballer/*
test_gas_costs.json
