[submodule "third_party/balpy"]
	path = third_party/balpy
	url = https://github.com/8ball030/balpy.git
[submodule "third_party/multicaller"]
	path = third_party/multicaller
	url = https://github.com/8ball030/multicaller.git

