export PYTHONPATH=${PYTHONPATH}:${PWD}

# Agent
# ---------------------------------------------------------------------------------------
ALL_PARTICIPANTS='["<your_agent_address>"]'
SAFE_CONTRACT_ADDRESSES='{"ethereum":"","optimism":"","base":"","mode":""}'
STORE_PATH=
LOG_DIR=

# Chain
# ---------------------------------------------------------------------------------------
MODE_LEDGER_RPC=https://mainnet.mode.network/
TARGET_INVESTMENT_CHAINS='["optimism"]'

# APIs
# ---------------------------------------------------------------------------------------
COINGECKO_API_KEY=

# Tenderly (optional)
# ---------------------------------------------------------------------------------------
TENDERLY_ACCESS_KEY=
TENDERLY_ACCOUNT_SLUG=
TENDERLY_PROJECT_SLUG=

# X402
# ---------------------------------------------------------------------------------------
USE_X402=true
